p {
  padding: 20px;
  margin: 20px 10px;
}
.p1 {
  border-width: 5px;
  border-style: solid;
  border-color: #09c;
}
.p2 {
  border: 15px double #09c;
}
.p3 {
  background-color: #09c;
  border: 5px ridge #09c;
}
.p4 {
  background-color: #09c;
  border: 5px outset #09c;
}
